CImg-master/
CImg/
ipch/
jpeg-9b/
JAImageBrightening.sdf
JAImageBrightening.sln
JAImageBrightening.v12.suo
.vcxproj
.vcxproj.filters
.obj
JAImageBrightening/Debug/JAApp.tlog/
JAImageBrightening/Debug/link.
JAImageBrighteningDllAsm/Debug/JADll.tlog/
JAImageBrighteningDllCpp/Debug/JADll.tlog/